header{
font-size: 30px;
font-style: italic;
color:#C70039;
}
img{
    height: 40px;
    width: 40px;
}

.main{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #DCD1BC;
    margin: 20px;
    padding: 50px;
}
.left{
    float: left;
    width: 50%;

}

.right{
    float: right;
    width: 50%;
  
}