header{
font-size: 30px;
font-style: italic;
color:#C70039;
padding: 20px;
}
h2{
    font-size: 18px;
    font-style: italic;
}



.main{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #DCD1BC;
    margin: 20px;
    padding: 50px;
}
ul {
    list-style-type: none;
    align-items: flex-start;

}

.center{
   margin: 100px;
   padding: 20px;
  
}

#submit{
  background-color:#C74500;
  color: white;
}
#devoured{
    background-color:#F5EDE2;
    margin-left: 30px;
}

.card{
    background-color:#FAF9EC;}